@use '../abstract/mixins';
@use '../abstract/variaveis';
#contatos{
    @include mixins.margem-central(80%);
    display: flex;
    justify-content: space-around;
    max-height: 900px;
    gap: 2rem;
    .contatos-imgs{
        max-width: 50%;
        display: grid;
        gap: 1rem;
        align-items: start;
        grid-template-columns: auto auto;
        grid-template-row: auto auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 35px;
            &:nth-child(1){
                grid-column: 1 / 3;
            }            
        }
    }
    .contatos-form{
        max-width: 50%;
        background: variaveis.$gradiente-primario;
        border-radius: 65px;
        padding: 2rem 2rem 0 2rem;
        h4{
            @include mixins.font-family-size-color( variaveis.$ft-titulos
                                                  , 1.3rem
                                                  , variaveis.$cor-secundaria);
        }
        p{
            @include mixins.font-family-size-color( variaveis.$ft-textos
                                                  , 1rem
                                                  , variaveis.$cor-primaria);
            
        }
        .form-group{
            display: flex;
            flex-direction: column;
            label{
                @include mixins.font-family-size-color( variaveis.$ft-textos
                                                  , 1rem
                                                  , variaveis.$cor-primaria);
                font-weight: 800;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
            }
            input{
                height: 35px;
                border-radius: 35px;
                padding: 0 1rem;
                border: none;
                outline: none;
            }
            textarea{
                height: 70px;
                border: none;
                outline: none;
                padding: 1rem 1rem;
                border-radius: 25px;
            }
        }
        .btn{
            height: 65px;
            margin-top: 2rem;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 35px;
            background-color: variaveis.$cor-secundaria;
            @include mixins.font-family-size-color( variaveis.$ft-textos
                                                  , 1rem
                                                  , white);
            font-weight: 800;
            transition: 0.3s;
            &:hover{
                background-color: variaveis.$cor-terciaria;
                text-decoration: underline;
            }
        
            &:active{
                background-color: variaveis.$cor-terciaria;
                text-decoration: underline;
            }
        }

    }
}