@use '../abstract/mixins';
@use '../abstract/variaveis';
#servico{
    background: variaveis.$gradiente-primario;
    .cards{
        @include mixins.margem-central(80%);
        display: flex;
        flex-direction: row;
        padding: 5rem 0;
        .card{
            background: variaveis.$gradiente-secundario;
            margin: 0 2rem;
            padding: 2rem;
            border: 1px solid white;
            border-radius: 32px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            &-titulo{
                @include mixins.font-family-size-color( variaveis.$ft-titulos
                                                      , 1.2rem
                                                      , variaveis.$cor-primaria);
                font-weight: 500;
            }
            &-texto{
                @include mixins.font-family-size-color( variaveis.$ft-textos
                                                      , .8rem
                                                      , variaveis.$cor-primaria);
            }
        }
    }
}